{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container">

    <h1>Proyecto {{ proyecto.nombre }}</h1>

    <hr>

    {{form(formulario)}}

</div> <!-- /container -->

{% endblock %}