{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container">

    <h1>Proyecto {{ proyecto.nombreProyecto }}</h1>

    <hr>

    {{form(formulario, {'attr': {'class': 'formulario form-horizontal'}})}}
    <ul class="record_actions not_style_list">
        <li>
            <a  href="{{ path('proyecto_list') }}" class="btn btn-primary">
                Regresar al listado
            </a>
        </li>   
    </ul>

</div> <!-- /container -->

{% endblock %}