/*.logo_s{
    background-image: url(../images/logo_sietp.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 89px;
}*/

.logo_p{
    background-image: url(../images/logo_servin_pequeno_white.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 60px;
    width: 198px;
}
.content_head{
    min-height: 50px;
}
