@import url(bootstrap-theme.css);
@import url(bootstrap.css);
@import url(dataTables.css);
@import url(tab.css);
@import url(formulario.css);
@import url(login.css);
@import url(cabecera.css);
@import url(footer.css);
@import url(index.css);
@import url(integrantes.css);
@import url(jquery.dataTables.css);
@import url(page.css);
@import url(page_table.css);

body{
    background: url(../images/fondo_vector-01.png) repeat 0 0 white;
}
.divcontainer {
    background: white;
    position: absolute;
/*    left: 50%;*/
    float: left;
/*    top: 6.7%;*/
    width: 100%;
/*    margin-left: -480px;*/
    min-height: 120px;
/*        border: 1px solid blue;*/
}

.divcontainer_login {
    float: left;
    width: 100%;
    min-height: 120px;
}
/* colores de texto */
.text-black{color:#171717 !important;}
.text-naranja{color: #d67e34 !important; }
/*    colores de texto    */
/*    colores del sitio          */
.gris{background-color: #5a5a5a;}
.gris_claro{background-color: #f6f6f6;}
.gris_claro-textura{background: url(../images/fondo_vector-02.png) repeat 0 0 #f6f6f6;}
.gris_anenuado{background-color: #edebec;}
.naranja{background-color: #d67e34; }

.azul{background-color: #0e2551;}
.azul_oscuro{background-color:#0d264f;}
.celeste{background-color:#1fd4df;}
.celeste_acua{background-color:#d2f3fa;}
.azul_claro{background-color:#0a3085;}
.blanco_huezo{background-color:white;}

.negro{background-color:#171717;}
/*    colores del sitio          */
input[placeholder], [placeholder], *[placeholder]{
    color: #000000 !important;
}
.contentsection{
    width:100%;
    float:left;
    min-height: 400px;
    height: auto;

}
.header{
    width:100%;
    min-height: 10px;
    float:left;
/*    border: 1px solid green;*/
}
.footer{
/*    margin-top: -4%;*/
/*    top: 6.7%;*/
/*    margin-left: -480px;*/
    min-height:133px;
    width:100%;
    float:left;
/*    border:1px solid red;*/
}
.borde-red{border: 1px solid red;}
.L{
    float: left;
}
.R{
    float: right;
}
.space {
    line-height: 100%;
}
.space-line {
    line-height: 10%;
}
.space-min {
    line-height: 50%;
}
.space_LR{
    padding: 0% 1% 0% 1%;
}
.space_L{
    padding: 0% 1% 0% 2%;
}
.space_R{
    padding: 0% 2% 0% 1%;
}
.not_style_list{
    list-style-type:none;
}
.not_margin{
    margin: 0% 0% 0% 0%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.w1{
    width: 1%;
}
.w2{
    width: 2%;
}
.w3{
    width: 3%;
}
.w4{
    width: 4%;
}
.w5{
    width: 5%;
}
.w7{
    width: 7%;
}
.w8{
    width: 8%;
}
.w10{
    width: 10%;
}
.w13{
    width: 13%;
}
.w14{
    width: 14%;
}
.w15{
    width: 15%;
}
.w17{
    width: 17%;
}
.w20{
    width: 20%;
}
.w25{
    width: 25%;
}
.w30{
    width: 30%;
}
.w35{
    width: 35%;
}
.w37{
    width: 37%;
}
.w38{
    width: 38%;
}
.w40{
    width: 40%;
}
.w45{
    width: 45%;
}
.w50{
    width: 50%;
}
.w55{
    width: 55%;
}
.w60{
    width: 60%;
}
.w65{
    width: 65%;
}
.w70{
    width: 70%;
}
.w71{
    width: 71%;
}
.w72{
    width: 72%;
}
.w73{
    width: 73%;
}
.w74{
    width: 74%;
}
.w75{
    width: 75%;
}
.w80{
    width: 80%;
}
.w85{
    width: 85%;
}
.w90{
    width: 90%;
}
.w95{
    width: 95%;
}
.w96{
    width: 96%;
}
.w98{
    width: 98%;
}
.w100{
    width: 100%;
}
.L1{
    margin-left: 1%;
}
.L2{
    margin-left: 2%;
}
.L3{
    margin-left: 3%;
}
.L4{
    margin-left: 4%;
}
.L5{
    margin-left: 5%;
}
.L10{
    margin-left: 10%;
}
.L15{
    margin-left: 15%;
}
.L19{
    margin-left: 19%;
}
.L20{
    margin-left: 20%;
}
.L25{
    margin-left: 25%;
}
.L27{
    margin-left: 27%;
}
.L30{
    margin-left: 30%;
}
.L35{
    margin-left: 35%;
}
.R1{
    margin-right: 1%;
}
.R2{
    margin-right: 2%;
}
.R3{
    margin-right: 3%;
}
.R4{
    margin-right: 4%;
}
.R5{
    margin-right: 5%;
}
.R8{
    margin-right: 8%;
}
.R9{
    margin-right: 9%;
}
.R10{
    margin-right: 10%;
}
.R15{
    margin-right: 15%;
}
.R20{
    margin-right: 20%;
}
.R25{
    margin-right: 25%;
}
.R27{
    margin-right: 27%;
}
.R30{
    margin-right: 30%;
}
.T1{
    margin-top: 1%;
}
.T2{
    margin-top: 2%;
}
.T3{
    margin-top: 3%;
}
.T4{
    margin-top: 4%;
}
.T5{
    margin-top: 5%;
}
.T6{
    margin-top: 6%;
}
.T7{
    margin-top: 7%;
}
.T6{
    margin-top: 6%;
}
.T7{
    margin-top: 7%;
}
.T8{
    margin-top: 8%;
}
.T10{
    margin-top: 10%;
}
.T15{
    margin-top: 15%;
}
.T20{
    margin-top: 20%;
}
.T25{
    margin-top: 25%;
}
.T30{
    margin-top: 30%;
}
.B1{
    margin-bottom: 1%;
}
.B2{
    margin-bottom: 2%;
}
.B3{
    margin-bottom: 3%;
}
.B4{
    margin-bottom: 4%;
}
.B5{
    margin-bottom: 5%;
}
.B10{
    margin-bottom: 10%;
}
.B15{
    margin-bottom: 15%;
}
.B20{
    margin-bottom: 20%;
}
.B25{
    margin-bottom: 25%;
}
.B30{
    margin-bottom: 30%;
}
.B_full{
    bottom:20%;
}
.font-size_12{
    font-size: 12px;
}
.font-size_13{
    font-size: 12px;
}
.font-size_15{
    font-size: 15px;
}
.font-size_18{
    font-size: 18px;
}
.font-size_20{
    font-size: 20px;
}
.font-size_22{
    font-size: 22px;
}
.bold{
    font-weight: bold;
}
.border-shadow{
    height: 20px;
    width:893px;
    background: url(../images/line-shadow.png) no-repeat;
}
.border-shadow2{
    height: 2px;
    width:893px;
    background: url(../images/line-shadow.png) no-repeat;
}

.border-colorblack{
    border: 1px solid #5a5a5a;
}

.border-colorgray{
    border-bottom: 1px solid #c3c3c3;
}

.border-colorblack2{
    border: 1px solid #999;
}

.text_parraf{
    word-wrap: break-word;
}

*{
    padding: 0px;
    margin: 0px;
}

.estructura{
    width:100%;
    position: relative;
    color: black;
    display:block;
    margin:auto;
    text-align: center;
}

.line_shadowa{
    float:left;
    width: 100%;
    height:auto;    
}

@media screen and (min-width: 768px){
    .contentsection{
    width:100%;
    float:left;
    min-height: 300px;
    height: auto;

}
h4{
    font-size: 19px !important;
}
.erp{
    background-position: center;
    height:400px;
    width:960px;
    float:left;
    height:auto;
}
.logo_p1{
    background-position: left;
    height: 15%;
    width: 15%;
}
.img_footer{
    width:568px;
    height:133px;
    background:  url(../images/footerr.png) no-repeat #75716f;
}
 
}

@media screen and (min-width: 2853px){
 .contentsection{
    width:100%;
    float:left;
    min-height: 400px;
    height: auto;

}

h4{
    font-size: 18px;
}
.erp{
    background-position: center;
    min-height:768px;
    height:auto;
    width:100%;
    float:left;
}
.logo_p1{
    background-position: left;
    height: 15%;
    width: 15%;
}
.img_footer{
    width:2853px;
    height:133px;
    background:  url(../images/footerr.png) no-repeat #75716f;
}

}
@media screen and (min-width: 180px){
 .contentsection{
    width:100%;
    float:left;
    min-height: 100px;
    height: auto;

}

h4{
    font-size: 9px;
}
.erp{
    background-position: center;
    height:600px;
    width:100%;
    float:left;
    height:auto;
}
.logo_p1{
    background-position: left;
    height: 15%;
    width: 15%;
}
.img_footer{
    width:100%;
    height:133px;
    background:  url(../images/footerr.png) no-repeat #75716f;
}

.white-box{
    width: 100%;
    height:auto;
    float:left;
}

/*.ConfigureScrollXTable div.dataTables_wrapper {
    width: 100% !important;
    float: left;
}*/

}