.page_navigation{
    margin-top: 5%;
    width: 100%;
    min-height:25px; 
    float: right;
    text-align: right;
}
.page_navigation a:not(.page_link){
    margin: 0% 0% 0% 0.3%;
    background: #c3c3c3; 
    padding:0.5% 0.2% 0% 0.2%;
    border:1px solid #d1d1d1;
    border-radius: 5%;
    color: #1155cc;
    text-decoration:none;
}
.page_navigation a.page_link{
    margin: 0% 0% 0% 0.3%;
    background: #c3c3c3; 
    padding:0.5% 1% 0% 1%;
    border:1px solid #d1d1d1;
    border-radius: 5%;
    color:white;
    text-decoration:none;
}
.page_navigation a:hover{
    background-color: #1155cc;
    color:white !important;
}
.active_page{
    background-color: #1155cc !important;
}