{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container">

    <h1>Material {{ material.nombreMaterial }}</h1>

    <hr>
<center>
    {{form(formulario, {'attr': {'class': 'formulario'}}) }}
</center>
</div> <!-- /container -->

{% endblock %}