{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<div class="container">

    <h1>Categoria {{ categoria.nombreCategoria }}</h1>

    

    {{ form(formulario, {'attr': {'class': 'formulario form-horizontal'}}) }}

   

</div> <!-- /container -->

{% endblock %}