{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<section>
    <div class="w100 L">
        <img class="erp" src="{{ asset('bundles/app/images/crecimiento2.jpg') }}"/>
    </div>
</section>
<section class="L w100">
<!--inicio-->
    <article>
        <div class="w60 L">          
<!--            <img class="erp" src="images/crecimiento.jpg"/>-->
        </div> 
    </article>
</section>

{% endblock %}