{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

<section>
    <div class="naranja space">&nbsp;</div>
    <div class="space-line">&nbsp;</div>
    <div class="naranja space-line">&nbsp;</div>
</section>
<center>
<h1>En construccion</h1>
 <div class="w100 T7">
                <img src="{{ asset('bundles/app/images/trabajando.png') }}"/>
 </div>
</center>


{% endblock %}