{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

    {% block main %}
    <h1 class="">Unidad de Negocio</h1>

    <table class="record_properties T2">
        <tbody>
             <tr>
                <th>Nombre unidad de negocio: </th>
                <td>{{ entity.nombreUnidadNegocio }}</td>
            </tr>
            <tr>
                <th>Descripcion: </th>
                <td>{{ entity.descripcionUnidadNegocio }}</td>
            </tr>
        </tbody>
    </table>
<hr>
   <div class="B5">
       <a href="{{ path('unidadnegocio_edit', {'id': entity.idUnidadNegocio}) }}" class="btn btn-warning " >Editar</a>
       <a href="{{ path('unidadnegocio') }}" class="btn btn-primary">Regresar al Listado</a>
    </div>
{% endblock %}
