{% extends '::frontend.html.twig' %}

{% block title %} Principal Servintegra {% endblock %}

{% block id 'portada' %}

{% block main %}

    <h1 class="L L3">Creaci&oacute;n Unidad de Medida</h1>
    
    {{ form(form, {'attr': {'class': 'formulario form-horizontal T6'}}) }}

        <ul class="record_actions not_style_list">
    <li>
        <a class="btn btn-primary" href="{{path('unidadmedida') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
