{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UnidadMedida creation</h1>

    {{ form(form, {'attr': {'class': ' formulario'}}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('unidadmedida') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
